@font-face {
  font-family: "Simply Cricket Bold";
  src: url("./SimplyCricket_TTF/SimplyCricket-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Simply Cricket Medium";
  src: url("./SimplyCricket_TTF/SimplyCricket-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Simply Cricket Cond Bold";
  src: url("./SimplyCricket_Cond_TTF/SimplyCricket_Cond_Bold.ttf")
    format("truetype");
}
@font-face {
  font-family: "Simply Cricket Cond Medium";
  src: url("./SimplyCricket_Cond_TTF/SimplyCricket_Cond_Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Simply Cricket Cond Book";
  src: url("./SimplyCricket_Cond_TTF/SimplyCricket_Cond_Book.ttf")
    format("truetype");
}
